.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.average {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.datapoint:hover{
  fill:steelblue;
}

.xlabel, .ylabel {
  font-weight: bold;
  font-size: 20px;
}

.d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
}