{% extends 'spotify_convert/base.html' %}
{% block title_block %}Your Profile{% endblock %}
{% block body_block %}
    <div class = 'container jumbotron'>
        <div = 'row'>
            {% if user.is_authenticated %}
                <h1>Update your profile</h1>
                <p>Welcome, {{username}}</p>
                <form id="profile_form" method="post" action="/social/account/" enctype="multipart/form-data" class = 'form-group col-sm-4'>
                        {% csrf_token %}
                        {{ profile_form.as_p }}
                        <input type="submit" name="submit" value="Update" class ='btn btn-success' />
                </form>
            {% else %}
            {% endif %}
        </div>
    </div>
{% endblock %}