<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        {% load staticfiles %}
        <link href="{% static 'spotify_convert/css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'spotify_convert/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        {% block style_block %}{% endblock %}
        <title>{% block title_block %}Convert iTunes to Spotify{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class='container'>
                <div class='navbar-header'>
                    <button type="button" class='navbar-toggle collapsed' data-toggle='collapse' data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class = 'sr-only'>Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class='navbar-brand' href="/spotify_convert">Convert iTunes to Spotify</a>
                </div>

                <div class='navbar-collapse collapse' id="bs-example-navbar-collapse-1">
                    <ul class='nav navbar-nav'>
                        {% if user.is_authenticated %}
                            <li class='dropdown'>
                                <a href="#" class='dropdown-toggle' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded='false'>Welcome, {{user.username}}<span class='caret'></span></a>
                                <ul class='dropdown-menu'>

                                </ul>
                            </li>
                        {% else %}

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class='container-fluid'>
            {%block body_block %}
            {% endblock %}
        </div>
        <hr>
        <footer>
            <div class='container'>
                <p>&copy; Michael Vasiliou 2017</p>
            </div>
        </footer>
        <script src="{% static 'spotify_convert/js/jquery-2.2.3.min.js' %}"></script>
        <script src="{% static 'spotify_convert/js/bootstrap.min.js' %}"></script>
        {% block script_block %}
        {% endblock %}
    </body>
</html>