{% extends 'spotify_convert/base.html' %}
{% block style_block %}
    {% load staticfiles %}
    <link href="{% static 'spotify_convert/css/carousel.css' %}" rel="stylesheet">
{% endblock %}
{% block title_block %}Home{% endblock %}
{% block body_block %}
    <div class = 'container jumbotron'>
            <div class="row">
            <p class="col-md-10 col-md-offset-1">All set! It'll take us a while to process your library, but feel free to check back to see how we're doing. We'll let you know when we're finished by sending you an email! </p>
            </div>
    </div>
{% endblock %}
{% block script_block %}
    <script src="{% static 'spotify_convert/js/upload.js' %}"></script>
{% endblock %}