{% extends 'spotify_convert/base.html' %}
{% block style_block %}
    {% load staticfiles %}
    <link href="{% static 'spotify_convert/css/carousel.css' %}" rel="stylesheet">
{% endblock %}
{% block title_block %}Home{% endblock %}
{% block body_block %}
    {% if file_form %}
        <div class ="row">
        <div class='form-group col-md-5'>
            <label for="file_input">Upload your iTunes XML file:</label>
            <input class='' type="file" id="file_input"/>
        </div>
        </div>
        <form method="POST" action="/spotify_convert/submit_form/">
            {% csrf_token %}
            {{ file_form }}
          <input class='btn btn-primary' id="submit-button" disabled type="submit" value="Upload Library">
        </form>
    {% else %}
        <a class = "btn btn-success col-lg-2 col-lg-offset-5" href={{ spotify_url }}>Login to Spotify</a>
    {% endif %}
{% endblock %}
{% block script_block %}
    <script src="{% static 'spotify_convert/js/upload.js' %}"></script>
{% endblock %}