{% extends 'spotify_convert/base.html' %}
{% block title_block %}Login{% endblock %}
{% block body_block %}
    <div class = 'container jumbotron'>
        <div class = 'row center-object'>
            {% if user.is_authenticated %}
            <p class = 'col-sm-offset-4 col-sm-4'>Oops! you're already logged in!</p>
            {% else %}
            <h1 class = 'col-sm-offset-4 col-sm-4'>Login to Tune Transfer</h1>
            <form class = 'col-sm-offset-4 col-sm-4 form-group' id="login_form" method="post" action="/spotify_convert/login/">
                {% csrf_token %}
                Username: <input class = 'form-control' type="text" name="username" value="" size="50" />
                <br />
                Password: <input class = 'form-control' type="password" name="password" value="" size="50" />
                <br />
                <input class = 'btn btn-primary' type="submit" value="Submit" />
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}