{% extends 'spotify_convert/base.html' %}
{% block title_block %}Register{% endblock %}
{% block body_block %}
    <div class='container jumbotron'>
            {% if registered %}
                Tune Transfer says: <strong>thank you for registering!</strong>
                <a href="/social">Return to the homepage.</a><br />
            {% else %}
                {% if profile_form %}
                <h2>Register with Tune Transfer</h2>
                <form id="user_form" method="post" action="/spotify_convert/register/"
                        enctype="multipart/form-data" class = 'form-group'>
                    {% csrf_token %}
                    {{user_form.as_p}}
                    {{profile_form.as_p}}
                    <input type="submit" name="submit" value="Register" class ='btn btn-success' />
                </form>
                {% else %}
                    <a class = "btn btn-success col-lg-4 col-lg-offset-4" href={{ spotify_url }}>Login to Spotify</a>
                {% endif %}
            {% endif %}
    </div>
{% endblock %}